body{
  border: 20px solid #bdc3c7;
  padding: 20px;
  max-width: 700px;
  width 80%;
  margin: 20px auto;
  font-family: 'Source Sans Pro', sans-serif;

}

p {
  line-height: 20px;
}
h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.date h4 {
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
