#official-info {
            background: rgb(230, 230, 230);
            width: 70%;
            height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #cute-cat {
            width: 120px;
        }  
