img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p
 {
  font-family: 'Raleway', sans-serif;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid rgb(32, 154, 194);
  width: 30%;
  padding-bottom: 20px;
}
