* {
  font-family: 'Helvetica', sans-serif;
}

.label h1 {
  text-align: center;
}

table {
  margin: auto;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  color: rgb(164, 119, 19);
}

.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
